.contact__container {
  display: grid;
  place-items: center;
}

.contact__wrapper {
  width: fit-content;
  display: flex;
  gap: 2rem;
}

.contact__wrapper a {
  background: var(--color-prim);
  font-size: 2rem;
  border: 2px solid transparent;
  transition: var(--transition);
  padding: 1.4rem 2rem 1rem 2rem;
  border-radius: 1.5rem;
  border: 2px solid var(--color-sec);
}

.contact__container a:hover {
  background-color: var(--color-prim-shade1);
}

/* MEDIA QUERIES (small screens) */
@media screen and (max-width: 600px) {
  .contact__wrapper {
    gap: 1.5rem;
  }

  .contact__wrapper a {
    padding: 1rem;
    padding-bottom: 0.8rem;
    font-size: 1.2rem;
  }
}
